<%- include('../partials/adminHeader') %>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" />
        <link rel="stylesheet" href="/admin-assets/css/productsCategory.css">
    </head>

    <body>
        <section class="content-main">
            <div class="content-header shadow">
                <div class="d-flex align-items-center justify-content-between col-lg-12">
                    <h2 class="content-title card-title col-lg-4"> Category Offers</h2>
                    <a href="/admin/loadAddCategoryOfferPage" class="btn  shadow border col-lg-2 rounded-0 btn-dark mb-3">Add New Offer</a>
                    <header class="card-header text-center bg-transparent  col-lg-4">
                        <form action="/admin/categoryOffers/" method="get">
                            <div class="input-group input-group-sm  border border-1 rounded-pill shadow">
                                <input type="text" class="form-control border-0 bg-transparent pt-3 ps-3"
                                    placeholder="Search category offers by name...." name="search" />
                                <button class="btn border border-end-0 border-top-0 border-bottom-0 border-3"
                                    type="submit">Search</button>
                            </div>
                        </form>
                    </header>
                </div>

            </div>

            <div class="container card py-3 shadow">
                <% if (categoryOffer.length>0) { %>
                    <table class="table table-bordered">
                        <thead class="text-center h6">
                            <tr>
                                <th>Offer Name</th>
                                <th>Category Name</th>
                                <th>Offer Percentage</th>
                                <th>Is Active</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% categoryOffer.forEach(categoryOffer=> { %>
                                <tr id="offer-<%= categoryOffer._id %>">
                                    <td>
                                        <%= categoryOffer.offerName %>
                                    </td>
                                    <td>
                                        <%= categoryOffer.categoryName %>
                                    </td>
                                    <td>
                                        <%= categoryOffer.categoryOffer %>
                                    </td>
                                    <td>
                                        <% if (categoryOffer.isActive) { %>
                                            <span class="badge bg-success">Active</span>
                                            <% } else { %>
                                                <span class="badge bg-danger">Inactive</span>
                                                <% } %>
                                    </td>
                                    <td class=" d-flex justify-content-evenly ">
                                        <!-- Toggle isActive button -->
                                        <form action="/admin/toggleCategoryOffer/<%= categoryOffer._id %>" method="POST"
                                            style="display:inline;">
                                            <button type="submit" class="btn btn-warning">
                                                <% if (categoryOffer.isActive) { %>Deactivate<% } else { %>- Activate -<% }
                                                            %>
                                            </button>
                                        </form>
                               
                                        <!-- Delete button -->

                                        <button type="button" onclick="deleteOffer('<%= categoryOffer._id %>')"
                                            class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <h1 class="d-flex justify-content-center py-5">No category-offers found.</h1>
                        <% } %>
            </div>
            

            <div class="pagination-container ">
                <% if (currentPage> 1) { %>
                    <a href="?page=<%= currentPage - 1 %>" class="border border-1 rounded-pill  py-1 me-1">&laquo;
                        Previous</a>
                    <% } %>
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <% if (i===currentPage) { %>
                                <span class="current-page border border-1 rounded-pill py-1 me-1" style="  background-color: black;
                                color: white;">
                                    <%= i %>
                                </span>
                                <% } else { %>
                                    <a href="?page=<%= i %>" class="border border-1 rounded-pill py-1 me-1">
                                        <%= i %>
                                    </a>
                                    <% } %>
                                        <% } %>
                                            <% if (currentPage < totalPages) { %>
                                                <a href="?page=<%= currentPage + 1 %>"
                                                    class="border border-1 rounded-pill py-1 ">Next &raquo;</a>
                                                <% } %>
            </div>


        </section>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            function deleteOffer(categoryOfferId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to delete this offer!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.delete(`/admin/deleteCategoryOffer/${categoryOfferId}`)
                            .then(response => {
                                Swal.fire({
                                    title: 'Deleted!',
                                    icon: 'success',
                                })
                                document.getElementById(`offer-${categoryOfferId}`).remove();

                            })
                            .catch(error => {
                                Swal.fire(
                                    'Error!',
                                    'An error occurred while deleting the offer.',
                                    'error'
                                );
                            });
                    }
                });
            }
        </script>

<%- include('../partials/adminFooter') %>