<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Shopbag dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link
      href="/admincss/assets/css/main.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <%- include('../partials/adminHeader') %>

    <link rel="stylesheet" href="/admin-assets/css/productsCategory.css">
    <style>
        .chart {
            padding: 60px 0px;
        }

        .statuses h4 {
            padding-top: 5px;
        }
    </style>


    <section class="content-main">
        <div class="content-header d-flex shadow">
            <header class=" d-flex  justify-content-between">
                <h2 class="content-title card-title">Dashboard</h2>
            </header>
            <!-- Filter by Date Range -->
            <div class="row my-4">
                <form action="/admin/dashboard" method="GET" class="d-flex align-items-center">
                    <!-- Custom Date Range -->
                    <div id="custom-date" class=" align-items-center mt-2 d-none">
                        <label for="startDate" class="me-2">From:</label>
                        <input type="date" name="startDate" id="startDate" value="<%=startDate ? new Date(startDate).toLocaleDateString('en-CA') :'' %>" class="form-control me-3 rounded-0 border">
                        <label for="endDate" class="me-2">To:</label>
                        <input type="date" name="endDate" id="endDate" value="<%=endDate ? new Date(endDate).toLocaleDateString('en-CA') : '' %>" class="form-control me-3 rounded-0 border">
                    </div>
                    <select name="filterType" class="form-select me-3 rounded-0 border" style="width: 200px;">
                        <option value="daily" <%= filterType === 'daily' ? 'selected' : '' %> >Daily</option>
                        <option value="weekly" <%= filterType === 'weekly' ? 'selected' : '' %>>Weekly</option>
                        <option value="yearly" <%= filterType === 'yearly' ? 'selected' : '' %>>Yearly</option>
                        <option value="custom" <%= filterType === 'custom' ? 'selected' : '' %>>Custom Date</option>
                    </select>
                    <button type="submit" class="btn btn-success text-light rounded-0 border me-4">Filter</button>
                </form>
            </div>
        </div>

        <!-- Charts Section -->
        <div class="charts-container">
            <div class="chart col-lg-12 d-flex">
                <div class="col-lg-7">
                    <canvas id="lineChart"></canvas>
                </div>
                <div class="col-lg-5 py-5 ps-5 ">
                    <h2 class="mx-5 my-3 text-decoration-underline">Total Sales : <%= filterType %>
                    </h3>
                    <h3>Total orders : <%= salesCount %>
                    </h3>
                    <h3>Total Revenue : ₹ <%= totalAmount.toFixed(2) %>
                    </h3>
                    
                    <h3></h3>
                </div>
            </div>
            <div class="d-flex">
                <div class="chart col-lg-6 d-block">
                    <div class="col-lg-12 pb-5 ps-5 align-content-center ms-5">
                        <div class="col-8 my-5">
                            <canvas id="doughnut"></canvas>
                        </div>
                        <h2 class="mx-5 my-3 text-decoration-underline">Profit & Sales : <%= filterType %>
                        </h3>
                        <h3>Total orders : <%= salesCount %>
                        </h3>
                        <h3>Total Revenue : ₹ <%= totalAmount.toFixed(2) %>
                        </h3>

                        <h3>Total Discount : ₹ <%= totalDiscount.toFixed(2) %>
                        </h3>
                        <h3></h3>
                    </div>
                </div>
                <div class="chart col-lg-6 d-block">
                    <div class="col-lg-12 pb-5 ps-5 align-content-center ms-5">
                        <div class="col-8 my-5">
                            <canvas id="polarArea"></canvas>
                        </div>
                        <h2 class="mx-5 my-3 text-decoration-underline">Order Statuses : <%= filterType %>
                        </h3>
                        <h3 class="ps-5 statuses">Total orders : <%= salesCount %>
                        </h3>
                        <div class="ps-5 statuses">
                            <h4>Total Processing : <%= orderStatusMap.Pending %>
                            </h4>
                            <h4>Total Shipped : <%= orderStatusMap.Shipped %>
                            </h4>
                            <h4>Total Delivered : <%= orderStatusMap.Delivered %>
                            </h4>
                            <h4>Total Cancelled : <%= orderStatusMap.Cancelled %>
                            </h4>
                            <h4>Total ReturnRequest : <%= orderStatusMap["Return Request"] %>
                            </h4>
                            <h4>Total Returned : <%= orderStatusMap.Returned %>
                            </h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>

        <h1 class="text-center mb-4 h2 text-decoration-underline">Best-Selling ( <%= filterType %> )</h1>
        <div class="container mt-5 d-flex">
          <div class="col-lg-4 px-2">
            <h3 class="text-center my-3">Best-Selling Products</h3>
            <ul class="list-group">
                <% topProducts.forEach(product => { %>
                    <li class="list-group-item d-flex justify-content-center gap-5 align-items-center h6">
                        <div class="col-lg-6">
                            <%= product.productName %>
                        </div>
                        <div class="badge bg-primary rounded-pill col-lg-3 ">
                            <%= product.totalSold %> sold
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
        
            <div class="col-lg-4 px-2">
                <h3 class="text-center my-3">Best-Selling Categories</h3>
                <ul class="list-group">
                    <% topCategories.forEach(category=> { %>
                        <li class="list-group-item d-flex justify-content-center gap-5 align-items-center h6">
                            <div class="col-lg-6">
                            <%= category.categoryName %>
                            </div>
                            <div class="badge bg-success rounded-pill col-lg-3">
                                <%= category.totalSold %> sold
                            </div>
                        </li>
                        <% }) %>
                </ul>
            </div>
           
        </div>
        <hr>

        <h1 class="text-center my-4 h2">Low Stock Products</h1>
        <div class="container mt-5 d-flex justify-content-center">
            <div class="col-lg-6 px-2 ">
                <ul class="list-group">
                    <% lowStockProducts.forEach(product=> { %>
                        <li class="list-group-item d-flex justify-content-between align-items-center h6">
                            <div class="col-lg-6">
                                <%= product.productName %> 
                            </div>
                            <div class="badge bg-danger rounded-pill col-lg-3">
                                Stock : <%= product.quantity %>
                            </div>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>
        <hr>


    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const filterType = document.querySelector('[name="filterType"]');
            const customDateSection = document.getElementById('custom-date');

            const toggleCustomDate = () => {
                if (filterType.value === 'custom') {
                    customDateSection.classList.remove('d-none');
                    customDateSection.classList.add('d-flex');

                } else {
                    customDateSection.classList.remove('d-flex');
                    customDateSection.classList.add('d-none');
                }
            };
            filterType.addEventListener('change', toggleCustomDate);
            toggleCustomDate();
        });
    </script>
    <script>

        const totalAmount = '<%= totalAmount %>';
        const totalDiscount = '<%= totalDiscount %>';
        const salesReport = <%- JSON.stringify(salesReport) %>;
        const orderLabels = salesReport.map(order => new Date(order.createdOn).toLocaleDateString());
        const orderAmounts = salesReport.map(order => order.totalPrice);
        const discountAmounts = salesReport.map(order => order.discount);

        const doughnut = new Chart(document.getElementById('doughnut'), {
            type: 'doughnut',
            data: {
                labels: ['Total Sales', 'Total Discount'], 
                datasets: [{
                    data: [totalAmount, totalDiscount],
                    backgroundColor: ['#36a2eb', '#ff6384']
                }]
            }
        });

        const orderStatusMap = {
            Processing: '<%= orderStatusMap.Processing %>',
            Shipped: '<%= orderStatusMap.Shipped %>',
            Delivered: '<%= orderStatusMap.Delivered %>',
            Cancelled: '<%= orderStatusMap.Cancelled %>',
            ReturnRequest: '<%= orderStatusMap["Return Request"] %>',
            Returned: '<%= orderStatusMap.Returned %>'
        };
        const polarArea = new Chart(document.getElementById('polarArea'), {
            type: 'polarArea',
            data: {
                labels: ['Processing', 'Shipped', 'Delivered', 'Cancelled', 'Return Request', 'Returned'],
                datasets: [{
                    data: [
                        orderStatusMap.Processing,
                        orderStatusMap.Shipped,
                        orderStatusMap.Delivered,
                        orderStatusMap.Cancelled,
                        orderStatusMap.ReturnRequest,
                        orderStatusMap.Returned
                    ],
                    backgroundColor: [
                        '#36a2eb', 
                        '#ff6384', 
                        '#4bc0c0',
                        '#ffcd56', 
                        '#9966ff', 
                        '#ff9f40'  
                    ]
                }]
            }
        });

        // Line Chart
        const lineChart = new Chart(document.getElementById('lineChart'), {
            type: 'line',
            data: {
                labels: orderLabels,
                datasets: [{
                    label: 'Total Sales',
                    data: orderAmounts,
                    borderColor: '#ffcd56',
                    fill: false,
                    tension: .3
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <%- include('../partials/adminFooter') %>

    <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
  </body>
</html>
