<%- include('../partials/adminHeader') %>
    <link rel="stylesheet" href="/admin-assets/css/productsCategory.css">

    <style>
        .stats-card {
            transition: box-shadow 0.3s ease;
        }

        .stats-card:hover {
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        }

        .card-body p {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .icon-wrapper {
            font-size: 1.8rem;
            color: #fff;
            padding: 10px;
            background-color: #007bff;
            border-radius: 50%;
        }

        .bg-sales {
            background-color: #17a2b8 !important;
        }

        .bg-order {
            background-color: #28a745 !important;
        }

        .bg-discount {
            background-color: #ffc107 !important;
        }

        #loadingSpinner {
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 999999;
           
        }
        .spinner {
            border: 5px solid #dbdbdb;
            border-top: 5px solid black;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
        } 

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(1080deg);
            }
        }
    </style>
    <section class="content-main">
        <div class="content-header d-flex shadow">
            <header class="card-header d-flex  justify-content-between">
                <h2 class="content-title card-title">Sales Report</h2>
            </header>
            <div id="loadingSpinner" style="display: none;">
                <div class="spinner"></div>
            </div>
            <div class="download-buttons justify-content-evenly row-gap-4">
                <a href="/admin/salesReport/excel?filterType=<%= filterType %>&startDate=<%= startDate %>&endDate=<%= endDate %>"
                    class="btn btn-success rounded-0 py-2 me-3 downloadButton">Download Excel</a>

                <a href="/admin/salesReport/pdf?filterType=<%= filterType %>&startDate=<%= startDate %>&endDate=<%= endDate %>"
                    class="btn btn-danger rounded-0 py-2 me-5 downloadButton">Download PDF</a>
            </div>
        </div>


        <!-- Filter by Date Range -->
        <div class="row my-4">
            <form action="/admin/salesReport" method="GET" class="d-flex align-items-center">
                <select name="filterType" class="form-select me-3 rounded-0 border" style="width: 200px;">
                    <option value="daily" <%=filterType==='daily' ? 'selected' : '' %> >Daily</option>
                    <option value="weekly" <%=filterType==='weekly' ? 'selected' : '' %>>Weekly</option>
                    <option value="yearly" <%=filterType==='yearly' ? 'selected' : '' %>>Yearly</option>
                    <option value="custom" <%=filterType==='custom' ? 'selected' : '' %>>Custom Date</option>
                </select>
                <!-- Custom Date Range -->
                <div id="custom-date" class=" align-items-center mt-2 d-none">
                    <label for="startDate" class="me-2">From:</label>
                    <input type="date" name="startDate" id="startDate"
                        value="<%=startDate ? new Date(startDate).toLocaleDateString('en-CA') :'' %>"
                        class="form-control me-3 rounded-0 border">
                    <label for="endDate" class="me-2">To:</label>
                    <input type="date" name="endDate" id="endDate"
                        value="<%=endDate ? new Date(endDate).toLocaleDateString('en-CA') : '' %>"
                        class="form-control me-3 rounded-0 border">
                </div>
                <button type="submit" class="btn btn-success text-light rounded-0 border me-4">Filter</button>
            </form>
        </div>

    
        <div class="row text-center">
            <!-- Total Sales Count Card -->
            <div class="col-md-4 mb-4">
                <div class="card stats-card bg-light">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p>Total Sales Count</p>
                            <h4>
                                <%= salesCount %>
                            </h4>
                        </div>
                        <div class="icon-wrapper bg-sales">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total Order Amount Card -->
            <div class="col-md-4 mb-4">
                <div class="card stats-card bg-light">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p>Total Order Amount</p>
                            <h4>₹<%= totalAmount.toFixed(2) %>
                            </h4>
                        </div>
                        <div class="icon-wrapper bg-order">
                            <i class="fas fa-wallet"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total Discount Card -->
            <div class="col-md-4 mb-4">
                <div class="card stats-card bg-light">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p>Total Discount</p>
                            <h4>₹<%= totalDiscount.toFixed(2) %>
                            </h4>
                        </div>
                        <div class="icon-wrapper bg-discount">
                            <i class="fas fa-tags"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container card py-3 shadow">
            <!-- Display sales report if there are any orders -->
            <% if (salesReport.length> 0) { %>
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center h6">
                            <th>Order ID</th>
                            <th>User Name</th>
                            <th>Products</th>
                            <th>Total Amount</th>
                            <th>Discount</th>
                            <th>Coupon Applied</th>
                            <th>Payment Method</th>
                            <th>Order Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% salesReport.forEach(order=> { %>
                            <tr id="order-<%= order._id %>" class="text-center">
                                <td>
                                    <%= order.orderId %>
                                </td>
                                <td>
                                    <%= order.userId ? order.userId.name : 'Guest' %>
                                </td>
                                <td>
                                    <!-- Display all product names from orderedItems -->
                                    <ul class="list-unstyled">
                                        <% order.orderedItems.forEach(item=> { %>
                                            <li>
                                                <%= item.productId.productName %> (Qty: <%= item.quantity %> )
                                            </li>
                                            <% }); %>
                                    </ul>
                                </td>
                                <td>₹<%= order.totalPrice.toFixed(2) %>
                                </td>
                                <td>₹<%= order.discount.toFixed(2) %>
                                </td>
                                <td>
                                    <%= order.couponApplied ? 'Yes' : 'No' %>
                                </td>
                                <td>
                                    <%= order.paymentMethod %>
                                </td>
                                <td>
                                    <%= order.status %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <h1 class="d-flex justify-content-center py-5">No sales report found.</h1>
                    <% } %>
        </div>


        <div class="pagination-container ">
            <% if (currentPage> 1) { %>
                <a href="?page=<%= currentPage - 1 %>" class="border border-1 rounded-pill  py-1 me-1">&laquo;
                    Previous</a>
                <% } %>
                    <% for (let i=1; i <=totalPages; i++) { %>
                        <% if (i===currentPage) { %>
                            <span class="current-page border border-1 rounded-pill py-1 me-1" style="  background-color: black;
                            color: white;">
                                <%= i %>
                            </span>
                            <% } else { %>
                                <a href="?page=<%= i %>" class="border border-1 rounded-pill py-1 me-1">
                                    <%= i %>
                                </a>
                                <% } %>
                                    <% } %>
                                        <% if (currentPage < totalPages) { %>
                                            <a href="?page=<%= currentPage + 1 %>"
                                                class="border border-1 rounded-pill py-1 ">Next &raquo;</a>
                                            <% } %>
        </div>

    </section>



    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const filterType = document.querySelector('[name="filterType"]');
            const customDateSection = document.getElementById('custom-date');

            const toggleCustomDate = () => {
                if (filterType.value === 'custom') {
                    customDateSection.classList.remove('d-none');
                    customDateSection.classList.add('d-flex');

                } else {
                    customDateSection.classList.remove('d-flex');
                    customDateSection.classList.add('d-none');
                }
            };

            filterType.addEventListener('change', toggleCustomDate);
            toggleCustomDate(); 
        });
    </script>

    <script>
        const downloadButtons = document.querySelectorAll('.downloadButton');
        downloadButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                document.getElementById('loadingSpinner').style.display = 'block';
                setTimeout(function () {
                    document.getElementById('loadingSpinner').style.display = 'none';
                }, 2000);
            })
        });
    </script>


<%- include('../partials/adminFooter') %>