<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Male_Fashion Template">
  <meta name="keywords" content="Male_Fashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop Bag</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body><head>
  <meta charset="UTF-8">
  <meta name="description" content="Male_Fashion Template">
  <meta name="keywords" content="Male_Fashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop Bag</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<style>
    .wishlist-icon {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    transition: all 0.3s ease; /* Smooth transition when switching icons */
}

.wishlist-icon.empty-heart {
    opacity: 0.6; /* For empty heart, reduce opacity or apply other styles */
}


</style>
<body>
    <!-- Page Preloder -->
    <%- include('../partials/header') %>
    
          
    <!-- Header Section End -->
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
</div>


    <!-- Hero Section Begin -->
    <section class="hero">
      
            <!-- First banner item with new image -->
            <!-- <div class="hero__items set-bg" data-setbg="/img/hero/banner-1.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text"> -->
                                <!-- <h6>Luxury Bags</h6>
                                <h2>Explore Our New Collection</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                    commitment to exceptional quality.</p> -->
                                <!-- <a href="/shop" class="primary-btn">Shop now <span class="arrow_right"></span></a> -->
                                <!-- <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div> -->
                            <!-- </div>
                        </div>
                    </div>
                </div> -->

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% banners.forEach((banner, index) => { %>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"></li>
                        <% }) %>
                    </ol>
                    <div class="carousel-inner">
                        <% banners.forEach((banner, index) => { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <img src="<%= banner.img %>" class="d-block w-100" alt="<%= banner.alt %>">
                            </div>
                        <% }) %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                
            
    
            <!-- Second banner item with new image -->
            <!-- <div class="hero__items set-bg" data-setbg="/img/hero/banner-1.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Travel Partner</h6>
                                <h2>Take Off 2030</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                    commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        
    </section>
    
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/hero/travel-bags-ready-trip.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Travel Partner 2030</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="img/backpack1.png" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2></h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="img/hickingcompanion.jpeg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Hicking Companion 2030</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section  -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                       
                       
                    </ul>
                </div>
            </div>
               
            <div class="row product__filter">
                <% products.forEach(product => { %> 
                    <div class="col-lg-3 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                          
                            <a href="/productPage?id=<%= product._id %>"> 
                                <div class="product__item__pic set-bg" data-setbg="/uploads/product-images/<%= product.productImage[0] %>">
                                    <ul class="product__hover">
                                        <li>
                                            <a href="#" onclick="toggleWishlist('<%= product.id %>', this)">
                                                <!--  if the product is in the wishlist and display the appropriate icon -->
                                                <img src="img/icon/<%= wishlistProductIds.includes(product.id.toString()) ? 'heart.png' : 'heart1.png' %>"
                                                     class="rounded rounded-5 wishlist-icon"
                                                     alt="wishlist">
                                            </a>
                                        </li>
                                        
                                        
                                        
                                        <li><img src="img/icon/compare.png" alt=""><span>Compare</span></li>
                                        <li><img src="img/icon/search.png" alt=""></li>
                                    </ul>
                                    
                                </div>
                            </a>
                            
                            
                            <div class="product__item__text">
                                <h6><%= product.productName %></h6> 
                                <span 
                                class="btn-product btn-cart mb-1" 
                                style="display: inline-block; border: 1px solid #007bff; border-radius: 5px; padding: 10px 15px; color: #007bff; text-align: center; cursor: pointer;"
                                onclick="window.location.href='/productPage?id=<%= product._id %>'"
                            >
                                View Details
                            </span>
                                <div class="rating">
                                 
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                               
                                <h5>₹<%= product.salePrice.toFixed(2) %></h5> 
                                <div class="product__color__select">
                                  
                                    <label for="pc-1">
                                        <input type="radio" id="pc-1">
                                    </label>
                                    <label class="active black" for="pc-2">
                                        <input type="radio" id="pc-2">
                                    </label>
                                    <label class="grey" for="pc-3">
                                        <input type="radio" id="pc-3">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %> 
            </div>
        </div>
    </section>
    <!-- Product Section End -->
     

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="img/product-sale.png" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>₹299.99</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Multi-pocket Chest Bag Black</h2>
                       
                        <a href="/shop" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <!-- <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-1.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-2.jpg"></div> -->
                        <!-- <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-3.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-4.jpg"></div> -->
                        <!-- <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-5.jpg"></div> -->
                        <!-- <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-6.jpg"></div> -->
                    </div>
                </div>
                <!-- <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                        <h3>#Shop-Bag</h3>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest News</span>
                        <h2> New Trends</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
      function toggleWishlist(productId, element) {
    fetch('/toggleWishlist', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ productId })
    })
    .then(response => response.json())
    .then(data => {
        if (data.inWishlist) {
            
            element.querySelector('img').src = 'img/icon/heart.png';
            toastr.success(data.message); 
        } else {
           
            element.querySelector('img').src = 'img/icon/heart1.png';
            toastr.error(data.message); 
        }
    })
    .catch(err => {
        console.error('Error:', err);
        toastr.error('Failed to update wishlist.');
    });
}


    </script>
    
    <!-- Latest Blog Section End -->

   <%- include('../partials/userfooter')%>