<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shop Bag</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/stylesheets/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/elegant-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/magnific-popup.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/nice-select.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Male_Fashion Template" />
      <meta name="keywords" content="Male_Fashion, unica, creative, html" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Shop Bag</title>

      <!-- Google Font -->
      <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet"
      />

      <!-- Css Styles -->
      <link
        rel="stylesheet"
        href="/stylesheets/bootstrap.min.css"
        type="text/css"
      />
      <link
        rel="stylesheet"
        href="/stylesheets/elegant-icons.css"
        type="text/css"
      />
      <link
        rel="stylesheet"
        href="/stylesheets/magnific-popup.css"
        type="text/css"
      />
      <link
        rel="stylesheet"
        href="/stylesheets/nice-select.css"
        type="text/css"
      />
      <link
        rel="stylesheet"
        href="/stylesheets/owl.carousel.min.css"
        type="text/css"
      />
      <link
        rel="stylesheet"
        href="/stylesheets/slicknav.min.css"
        type="text/css"
      />
      <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    </head>
    <body>
      <!-- Page Preloder -->
      <%- include('../partials/header') %>

      <section class="spad">
        <div class="container">
          <div class="row">
            <!-- Sidebar Section -->
            <div class="col-lg-3 col-md-4 mb-4">
              <div class="list-group">
                <a
                  href="/getOrders"
                  class="list-group-item list-group-item-action"
                >
                  View Orders
                </a>
                <a
                  href="/addAddress?returnTo=profile"
                  class="list-group-item list-group-item-action"
                >
                  Add Address
                </a>

                <a
                  href="/wallet"
                  class="list-group-item list-group-item-action"
                >
                  View Wallet
                </a>
                <a
                  href="/editProfile"
                  class="list-group-item list-group-item-action"
                >
                  Edit Profile
                </a>
                <a
                  href="/changePassword"
                  class="list-group-item list-group-item-action"
                >
                  Change Password
                </a>
              </div>
            </div>

            <!-- User Details Section -->
            <div class="col-lg-9 col-md-8">
              <h4 class="pb-4">User Details</h4>
              
              <div class="row border border-dark p-4 rounded m-0">
                <div class="col-lg-6">
                  <p><strong>Username:</strong> <%= user.name %></p>
                  <p><strong>Email:</strong> <%= user.email %></p>
                  <p><strong>Phone:</strong> <%= user.phone %></p>
                  <p><strong>Referral Code:</strong> <%= user.referalCode %></p>
                </div>
                <div class="col-lg-6">
                  <!-- <button class="btn btn-primary rounded-0" onclick="window.location.href='/loadEditUserProfilePage'">
                    Edit Details
                  </button>
                  <button class="btn btn-warning rounded-0" onclick="window.location.href='/loadChangePassword'">
                    Change Password
                  </button> -->
                </div>
              </div>

              <!-- Address Management Section -->
              <hr />
              <div class="row">
                <div class="col-lg-12">
                  <h4 class="pb-4">Addresses</h4>
                  <div class="border border-dark p-4 rounded">
                    <% if (addresses.length === 0) { %>
                    <p>No addresses found. Please add one to place an order.</p>
                    <button
                      class="btn btn-success"
                      onclick="window.location.href='/addAddress'"
                    >
                      Add Address
                    </button>
                    <% } else { %> <% addresses.forEach((address, index) => { %>
                    <div
                      class="address_item border mb-3 p-3 rounded rounded-5 border-dark"
                    >
                      <pre class="">
                              <%= address.addressType %>
                            </pre
                      >
                      <p>
                        <strong>Name:</strong> <%= address.name %> &nbsp;
                        <strong>, Phone:</strong> <%= address.phone %>
                      </p>
                      <p>
                        <%= address.city %>, <%= address.state %>, <%=
                        address.pincode %>
                      </p>
                      <div class="address__actions d-flex justify-content-end">
                        <button
                          class="btn btn-primary mx-2 rounded-0"
                          onclick="window.location.href='/editAddress?id=<%= address._id %>'"
                        >
                          Edit
                        </button>
                        <button
                          class="btn btn-danger rounded-0"
                          id="delete-btn"
                          data-id="<%= address._id %>"
                        >
                          Delete
                        </button>
                      </div>
                    </div>

                    <% }); %>
                    <button
                      class="btn btn-success shadow rounded-0"
                      onclick="window.location.href='/addAddress'"
                    >
                      Add Another Address
                    </button>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <!-- Include SweetAlert -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"
      />

      <script>
        document.querySelectorAll("#delete-btn").forEach((button) => {
          button.addEventListener("click", function () {
            const addressId = this.dataset.id;

            Swal.fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, delete it!",
            }).then((result) => {
              if (result.isConfirmed) {
                fetch(`/deleteAddress/${addressId}`, {
                  method: "DELETE",
                  headers: {
                    "Content-Type": "application/json",
                  },
                })
                  .then((response) => {
                    if (response.ok) {
                      return response.json();
                    } else {
                      throw new Error("Failed to delete the address");
                    }
                  })
                  .then((data) => {
                    if (data.success) {
                      Swal.fire(
                        "Deleted!",
                        "Your address has been deleted.",
                        "success"
                      ).then(() => {
                        window.location.reload();
                      });
                    } else {
                      Swal.fire(
                        "Error!",
                        data.message ||
                          "There was an issue deleting your address.",
                        "error"
                      );
                    }
                  })
                  .catch((error) => {
                    Swal.fire(
                      "Error!",
                      "An unexpected error occurred.",
                      "error"
                    );
                    console.error("Error:", error);
                  });
              }
            });
          });
        });
      </script>

      <%- include('../partials/userfooter')%>
    </body>
  </body>
</html>
